name: build-and-lint

# Triggers
on:
  push:
    branches: [main, dev]

  pull_request:
    branches: [main, dev]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install backend dependencies
        run: npm ci

      - name: Lint backend
        # run: npm run lint -- --max-warnings=0
        run: npm run lint

      - name: Build backend image
        run: docker build -t backend .
